/JumboModClient-Ios.xcodeproj/project.xcworkspace/xcuserdata/aaronjevans.xcuserdatad/UserInterfaceState.xcuserstate

/JumboModClient-Ios.xcodeproj/xcuserdata/aaronjevans.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
