<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SplicerClient-Ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XLForm.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2850C5F718D0F706002B7D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C160DE1F22C284F2009F04CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C160DE3522C284F2009F04CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C160DE4022C284F2009F04CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
